@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
body {
    font-family: 'Gugi', cursive;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #8fb3d5;
}

.container-auto{
    max-width: 1280px;
    margin: 0 auto;
}
.header{
    width: 100%;
    text-align: center;
    margin-top: 40px;
}
.header h1{
    font-size: 40px;
    margin-bottom: 25px;
}

.header h4{
    font-size: 20px;
    margin-bottom: 25px;
    color: #fff;
}
.header h4 a{
    color: #fff;
}
.serach-fildes{
    max-width: 300px;
    margin: 0 auto;
}
.serach-fildes input{
    background-color: #fff;
    text-align: center;
    padding: 12px;
    border: none;
    color: #000;
    margin-bottom: 50px;
    width: 100%;
    outline: none;
    min-height: 50px;
}
.card-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 30px;
}
.card-continer{
    width: calc(25% - 20px);
    border: solid 4px #000;
    background-color: #fff;
    border-radius: 6px;
}
.card-continer img{
    max-width: 100%;
    margin-top: auto;
}
.card-continer h2{
    color: #000;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    padding: 15px;
    margin-top: auto;
    margin-bottom: 0;
}
.card-continer h3{
    color: #000;
    text-align: center;
    font-size: 16px;
    padding: 15px;
    margin-top: 0;
}
.card-continer a{
    height: 100%;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}
.cardboxpock{
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 445px;
}
.pagesNumbers{
    width: 100%;
    text-align: center;
    margin: 30px 0;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 6px;
}   
.pagesNumbers button, .pagesNumbers span {  
    background-color: #fff;
    border: solid 1px #5a5a5a;
    padding: 13px 21px;
    color: #000;
    font-weight: 600;
}
.pagesNumbers button.active-page, .pagesNumbers span.active-page  {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}
.pagesNumbers button:hover {
    background-color: #f37169;
    color: #fff;
}
.loaderWrapper{ 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.notFound {
    width: 100%;
    text-align: center;
    margin: 30px 0;
    align-items: center;
    justify-content: center;
}

@media (max-width: 767px) {
    .card-continer{
        width: calc(100% - 20px);
    }
}
.main-head {
    text-align: center;
    padding: 30px;
    text-shadow: 2px 2px 1px #fff;
    font-size: 46px;
}
.pokemon-image {
    display: flex;
    gap: 50px;
    max-width: 1450px;
    margin: 0 auto;
    position: relative;
    padding: 0 15px;
}
.pokemon-section {
    width: 100%;
}
.pokemon-img-sec {
    text-align: center;
}
.pokemon-img-sec img {
    border: 3px solid #000;
    height: 700px;
    border-radius: 5px;
}
.pokemon-content {
    background-color: #fff;
    border: 3px solid #000;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}
.pokemon-content >  div {
    width: 50%;
}

.ability-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.ability-list > div {
    border-radius: 5px;
    padding: 10px 15px;
    min-width: 125px;
    background-color: #fff;
    text-align: center;
    margin: 0 -20px 0 30px;
    border: solid 1px #212121;
}
.pokemon-head {
    padding: 0 30px;
}
.btn-back {
    background: transparent;
    border: none;
    text-decoration: underline;
    font-size: 20px;
    width: 100%;
    text-align: right;
    padding: 0 15px;
}
.btn-back {
    border: none;
    font-size: 20px;
    width: 100%;
    text-align: right;
    background-color: #fff;
    color: #000;
    padding: 10px 15px;
    border-radius: 4px;
    position: absolute;
    left: 15px;
    top: -93px;
    width: auto;
    text-decoration: none;
    cursor: pointer;
}
.btn-back:hover{
    background-color: #000;
    color: #fff;
}